.navbar {
  filter: drop-shadow(0 10px 10px #aaa);
}

.btn {
  box-shadow: 0 5px 20px #d6d6d6;
}

.socials {
  box-shadow: 0 0 50px #ccc;
}

.icons {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  border: 2px solid #777;
  color: #c0c0c0;
  background: #2c3032;
  border-radius: 2px;
  transition: 200ms;
  aspect-ratio: 1/1;
}

.name {
  font-size: 15px;
}

.icons:hover {
  color: #222;
  background: #dedede;
  transform: scale(1.1);
}

.profiles {
  padding: 1.4rem;
  border-radius: 50%;
  box-shadow: 0 2px 50px #aaa;
  cursor: pointer;
}

.profiles:hover {
  box-shadow: 0 2px 50px #666;
}

.project {
  filter: drop-shadow(0 10px 10px #aaa);
}

.project-img {
  transition: 0.5s;
}

.project-img:hover {
  transform: scale(1.05);
}

.avatar {
  filter: drop-shadow(-10px 0 20px #999);
}

.contact,
.hero {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(assets\common-bg.svg);
}

.contact-shadow {
  filter: drop-shadow(0 0 20px #ddd);
}
