.navbar {
  filter: drop-shadow(0 0 20px #666);
  /* background: #ffffff26; */
}

.btn {
  box-shadow: 0 5px 20px #d6d6d6;
}

.socials {
  box-shadow: 0 0 50px #ccc;
}

.icons {
  color: #222;
  background: #dedede;
  border-radius: 4px;
  transition: 200ms;
}

.icons:hover {
  color: #c0c0c0;
  background: #2c3032;
  transform: scale(1.1);
}

.profiles {
  border-radius: 50%;
  box-shadow: 0 2px 50px #aaa;
  cursor: pointer;
}

.profiles:hover {
  box-shadow: 0 2px 50px #666;
}

.project {
  filter: drop-shadow(0 10px 10px #aaa);
}

.project-img {
  transition: 0.5s;
}

.project-img:hover {
  transform: scale(1.05);
}

.avatar {
  filter: drop-shadow(-10px 0 20px #999);
}

.contact {
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

.background {
  position: absolute;
  width: 140vw;
  margin-left: -20vw;
  height: 100vh;
  z-index: -10;
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
  animation: float 4s infinite linear;
}

@keyframes float {
  0% {
    transform: translate(50px, 0);
  }
  50% {
    transform: translate(-50px, 0);
  }
  100% {
    transform: translate(50px, 0);
  }
}

.contact-shadow {
  filter: drop-shadow(0 0 20px #ddd);
}

.box-shadow {
  box-shadow: 0 0 40px #aaa;
}

.fill {
  text-align: center;
  --tw-bg-opacity: 1;
  -webkit-text-fill-color: rgb(24 24 27 / var(--tw-bg-opacity));
  -webkit-text-stroke: 5px rgb(39 39 42 / var(--tw-text-opacity));
}

.loading-page {
  animation: loading-animation 1s ease-in-out 2s 1;
  overflow: hidden;
}

@keyframes loading-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.mobile-nav-bg {
  backdrop-filter: blur(200px);
}

@media screen and (max-width: 767px) {
  .fill {
    -webkit-text-stroke: 2px rgb(39 39 42 / var(--tw-text-opacity));
  }

  .profiles {
    border-radius: 50%;
    box-shadow: 0 4px 50px #c2c2c2;
    cursor: pointer;
  }

  .icons {
    color: #222;
    background: #dedede;
    border-radius: 4px;
    transition: 200ms;
  }

  .icons:hover {
    color: #c0c0c0;
    background: #2c3032;
    transform: scale(1.1);
  }

  .name {
    font-size: 8px;
  }

  .box-shadow {
    box-shadow: 0 0 20px #c7c7c7;
  }

  .background {
    width: 100vw;
    margin-left: 0;
    animation: none;
  }

  .project {
    filter: drop-shadow(0 5px 10px #dddddd);
  }
}
