:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  cursor: url("assets/icons8-select-cursor-24.png"), auto;

  color-scheme: light dark;
  color: #242424;
  /* background-color: #242424; */
  /* background-color: #212529; */
  /* background-color: #f0f8ff; */
  background-color: #fafafa;
  scroll-behavior: smooth;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
